/*HEADER for now*/
h1 {
    font-size: 3rem;
}

/*NAVBAR for now*/
h3 {
    font-size: 1.25rem;
}

.header {
    display: block;
    text-align: center;
}

.navbar {
    display: block;
    color: darkgray;
    background-color: darkslategrey;
    text-align: center;
}

.center-1 {
    display: block;
    background-color: blue;
    width: 80%;
    text-align: left;
    margin-left: 20%;
}

.footer {
    display: block;
    text-align: center;
    width: 100%;
}