body {
/*    background-color: #737d7d;*/
    background-color: #a1aaaa;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

hr {
    margin: 0px 100px 50px;
    box-shadow: 0 0 10px 1px black;
}

/*HEADER for now*/
h1 {
    margin: 0px;
}

.header {
    display: block;
    text-align: center;
    font-family: 'Lakki Reddy', cursive;
    font-size: 2rem;
}

.navbar {
    display: block;
    color: darkgray;
    text-align: center;
}

.center-1 {
    display: block;
    width: 80%;
    text-align: left;
    /* Padding should go here instead of Margin */
    margin-left: 20%;
    height: 650px;
}

.gameLink {
    /* #085e5e */
/*    color: #008ee6 !important;*/
    color: #0033FF !important;
    text-decoration: none;
}

.gameLink:hover {
    text-decoration: underline;
}

.gameDescription{
    margin: 0px;
}

.footer {
/*    background-color: #555e5e;*/
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 500;
}