body {
/*    background-color: #737d7d;*/
    background-color: #a1aaaa;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

hr {
    margin: 0px 50px 50px;
    box-shadow: 0 0 10px 1px black;
}

/*HEADER for now*/
h1 {
    margin: 0px;
}

.header {
    display: block;
    text-align: center;
    font-family: 'Lakki Reddy', cursive;
    font-size: 2rem;
}

.navbar {
    display: block;
    color: darkgray;
    text-align: center;
}

.center-1 {
    display: block;
    width: 60%;
    text-align: left;
    /* Padding should go here instead of Margin */
    margin-left: 20%;
}

.gameLink {
    /* #085e5e */
/*    color: #008ee6 !important;*/
    color: #0033FF !important;
    text-decoration: none;
}

.gameLink:hover {
    text-decoration: underline;
}

.gameDescription {
    margin: 0px;
}

.footer {
/*    background-color: #555e5e;*/
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-weight: 500;
}


/* -------------------- MEDIA QUERIES -------------------- */


/* X-Large devices (desktops) */
@media (max-width: 1400px) {
    hr {
        margin: 0px 40px 40px;
    }
}

/* Large devices (desktops/laptops?) */
@media (max-width: 1200px) {
    hr {
        margin: 0px 20px 40px;
    }
    
    .header {
        font-size: 3vw;
    }
    
    .center-1 {
        
    }
}

/* Medium devices (tablets) */
@media (max-width: 992px) {
    hr {
        margin: 0px 10px 20px;
    }
    
    .header {
        font-size: 4vw;
    }
    
    .center-1 {
        
    }
}

/* Small devices (phones - portrait is 576px and less; landscape is 768px and less) */
@media (max-width: 768px) {
    hr {
        margin: 0px 10px 15px;
    }
    
    .header {
        font-size: 5vw;
    }
    
    .center-1 {
        width: 80%;
        margin-left: 10%;
    }
}