body {
    background-color: #a1aaaa;
}

body, html, pre {
    margin: 0px;
    padding: 0px;
    
/*    font-family: "Luckiest Guy", sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0px;
}

button {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

form {
    font-size: 1.5rem;
}

.header {
    display: block;
    text-align: center;
    font-family: 'Lakki Reddy', cursive;
    font-size: 2rem;
}

#gameBox {
    display: none;
}

.formSettings h1 {
    font-size: 5rem;
}

.formSettings {
    margin: 0px 10%;
    padding: 100px 0px;
    height: 770px;
    text-align: center;
    box-sizing: border-box;
    background-color: #d6a35c;
}

.container {
    background-color: palegreen;
    margin: 0px 10%;
    text-align: center;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 110px);
    grid-template-areas:
        'HN1 HN1 HN1 HN1 HN1'
        'GWS GWS GWS TPS TPS'
        'GWS GWS GWS TPS TPS'
        'GWS GWS GWS TPS TPS'
        'KBA KBA KBA KBA KBA'
        'KBA KBA KBA KBA KBA'
        'KBA KBA KBA KBA KBA';
}

.header-row {
    grid-area: HN1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guessWord {
    grid-area: GWS;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .3rem;
    word-spacing: 1rem;
}

#guessWord {
    font-size: 2em;
}

.triesSection {
    grid-area: TPS;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    grid-area: KBA;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

/* CSS STYLING FOR THE KEYBOARD BUTTONS */
.keyboardButton {
    position: relative;
    display: inline;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.75rem;
    
    padding: .5em 2em;
    border: 2px solid rgb(106, 163, 137);
    border-radius: 1em;
/*    background: rgb(205, 255, 232);*/
    
    margin: 2px;
    transition: 0.3s;
}

.keyboardButton:disabled {
    background-color: black !important;
    color: green!important;
}

/* -- NOTE: Turning this off because hovering doesn't play well with scanning. -- */
/*
.keyboardButton:hover,
.keyboardButton:focus {
    background-color: #FF0000;
}
*/

/* Modal Background -- Changing the view of the rest of the screen */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Gonna have to mess with it because the example is 100%, which is bad for this */
    height: 100%; /* Gonna have to mess with it because the example is 100%, which is bad for this */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* The Modal Content -- What's actually in the box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 450px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}